.selectorWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    justify-content: space-between;
    margin-top: 3vh;
}

.activeProject {
    background-color: #E94F37;
    width: 2vw;
    height: 2vh;
    
    border: solid;
    border-width: 1px;
    border-color: white;

    margin: 0 0.5vw 0 0.5vw;

    transform: translateY(25%);
}

.inactiveProject {

    width: 2vw;
    height: 2vh;

    border: solid;
    border-width: 1px;
    border-color: rgb(82, 82, 82);

    cursor: pointer;

    margin: 0 0.5vw 0 0.5vw;

    transform: translateY(25%);
}

.selectorButton:hover{
    filter: invert(46%) sepia(73%) saturate(1711%) hue-rotate(332deg) brightness(101%) contrast(84%);
}

.selectorButton:active{
    filter: invert(38%) sepia(53%) saturate(767%) hue-rotate(321deg) brightness(96%) contrast(91%);
}

.right {
    filter: invert(32%) sepia(47%) saturate(2932%) hue-rotate(344deg) brightness(106%) contrast(83%);
    margin-top: 0.25vh;
    height: 2.5vh;
    margin-left: 0.5vw;
}

.left {
    transform: scaleX(-1);
    filter: invert(32%) sepia(47%) saturate(2932%) hue-rotate(344deg) brightness(106%) contrast(83%);
    margin-top: 0.25vh;
    height: 2.5vh;
    margin-right: 0.5vw;
}