/*Splash Animation*/
.splashBase {
    opacity: 0;
    animation: splashBase 6s 1;
}

@keyframes splashBase {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.centerLine {
    opacity: 0;
    animation: centerLine 5s 1;
}

@keyframes centerLine {
    /*First Blink*/
    19% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    21% {
        opacity: 0;
    }

    /*Second Blink*/
    22% {
        opacity: 0;
    }
    23% {
        opacity: 1;
    }
    24% {
        opacity: 0;
    }

    /*Third Blink*/
    25% {
        opacity: 0;
    }
    26% {
        opacity: 1;
    }
    27% {
        opacity: 0;
    }

    /*Final Blink*/
    28% {
        opacity: 0;
    }
    29% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
}

.leftDot{
    opacity: 0;
    animation: leftDot 5s 1;
}

@keyframes leftDot {
    8% {
        opacity: 0;
        left: 40vw;
    }

    9% {
        opacity: 1;
        left: 40vw;
    }

    12% {
        opacity: 1;
        left: 40vw;
    }
    
    13% {
        opacity: 1;
        left: 40vw;
    }

    19% {
        left: 28.5vw;
    }

    90%{
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: 28.5vw;
    }
}

.rightDot{
    opacity: 0;
    animation: rightDot 5s 1;
}

@keyframes rightDot {
    8% {
        opacity: 0;
        right: 40vw;
    }

    9% {
        opacity: 1;
        right: 40vw;
    }

    12% {
        opacity: 1;
        right: 40vw;
    }
    
    13% {
        opacity: 1;
        right: 40vw;
    }

    19% {
        right: 28.5vw;
    }

    90%{
        opacity: 1;
    }

    100% {
        opacity: 0;
        right: 28.5vw;
    }
}

.h1Text{
    opacity: 0;
    animation: h1Text 5s 1;
}

@keyframes h1Text {
    22% {
        opacity: 0;
        letter-spacing: -1vw;
    }

    24% {
        opacity: 1;
    }

    30% {
        opacity: 1;
        letter-spacing: 1.5vw;
    }

    90% {
        opacity: 1;
        letter-spacing: 1.5vw;
    }

    100% {
        opacity: 0;
        letter-spacing: 1.5vw;
    }
}

.h2Text{
    opacity: 0;
    animation: h2Text 5s 1;
}

@keyframes h2Text {
    32% {
        opacity: 0;
        letter-spacing: -1vw;
    }

    34% {
        opacity: 1;
    }

    43% {
        opacity: 1;
        letter-spacing: 1.25vw;
    }

    90% {
        opacity: 1;
        letter-spacing: 1.25vw;
    }

    100% {
        opacity: 0;
        letter-spacing: 1.25vw;
    }
}

.progressText {
    opacity: 0;
    animation: progressText 5s 1;
}

@keyframes progressText {
    34% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
    76% {
        opacity: 0;
    }

    78% {
        opacity: 1;
    }
    79% {
        opacity: 0;
    }

    81% {
        opacity: 1;
    }
    82% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.loadingText::after {
    opacity: 0;
    content: "LOADING.......";

    animation: loadingText 5s 1;
}

@keyframes loadingText {
    29% {
        opacity: 0;
        content: "LOADING.......";
        letter-spacing: -.5vw;
    }

    30% {
        opacity: 1;
    }

    35% {
        letter-spacing: 0.15vw;
    }

    55% {
        letter-spacing: 0.15vw;
    }
    75% {
        opacity: 1;
        content: "LOADING.......";
        letter-spacing: 0.15vw;
    }
    76% {
        opacity: 0;
        letter-spacing: -.25vw;
        content: "COMPLETE.......";
    }
    78% {
        opacity: 0;
    }
    79% {
        opacity: 1;
        content: "COMPLETE.......";
    }
    84% {
        letter-spacing: 0.15vw;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        content: "COMPLETE.......";
        letter-spacing: 0.15vw;
    }
}

.progressBar {
    opacity: 0;
    animation: progressBar 5s 1;
}

@keyframes progressBar {
    29% {
        opacity: 0;
        
    }
    30% {
        opacity: 1;
        width: 0vw;
    }
    77% {
        opacity: 1;
        width: 33vw;
    }
    78% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 33vw
    }
}
