/*Splash Animation*/
.splashBase {
    opacity: 0;
    animation: splashBase 6s 1;
}

@keyframes splashBase {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.centerLine {
    opacity: 0;
    animation: h1Text 5s 1;
}

.h1Text{
    opacity: 0;
    animation: h1Text 5s 1;
}

@keyframes h1Text {
    17%{
        opacity: 0;
    }

    22% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.devLine {
    opacity: 0;
    animation: h2Text 5s 1;
}

.h2Text{
    opacity: 0;
    animation: h2Text 5s 1;
}

@keyframes h2Text {
    32%{
        opacity: 0;
    }
    
    39% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.progressText {
    opacity: 0;
    animation: progressText 5s 1;
}

@keyframes progressText {
    36% {
        opacity: 0;
    }

    37% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
    76% {
        opacity: 0;
    }

    78% {
        opacity: 1;
    }
    79% {
        opacity: 0;
    }

    81% {
        opacity: 1;
    }
    82% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.progressWrapper {
    background-color: rgba(0, 0, 0, 0);
    animation: progressWrapper 5s 1;
}

@keyframes progressWrapper {
    29% {
        background-color: rgba(0, 0, 0, 0);
    }
    35% {
        background-color: #0D0D0D;
    }
    90% {
        background-color: #0D0D0D;
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.progressBar {
    opacity: 0;
    animation: progressBar 5s 1;
}

@media (max-width: 900px) {
    .progressBar {
        animation: progressBarPhone 5s 1;
    }
}

@keyframes progressBar {
    29% {
        opacity: 0;
    }
    35% {
        opacity: 1;
        width: 0vw;
    }
    90% {
        opacity: 1;
        width: 100%;
    }
    100% {
        opacity: 0;
        width: 100%;
    }
}

@keyframes progressBarPhone {
    29% {
        opacity: 0;
        
    }
    30% {
        opacity: 1;
        width: 0vw;
    }
    77% {
        opacity: 1;
        width: 56vw;
    }
    78% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 56vw
    }
}