.splashBase {
    position: fixed;
    z-index: 5;

    height: 100vh;
    width: 100vw;

    background-color: black;
}

.splashWrapper {

    margin-top: 10%;

    display: flex;
    flex-direction: column; 

    transform: rotate(-5deg);
}

.centerLine {
    height: 10px;
    width: 105vw;

    background-color: white;
}

@media (max-width: 900px) {
    .centerLine {
        width: 64vw;
    }
}

.h1Text {
    text-align: left;

    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 7vw;
    letter-spacing: -10px;
    margin-left: 2vw;
}

.devLine {
    height: 7px;
    width: 65vw;
    align-self: flex-end;
    background-color: white;
    margin-right: -5vw;
}

.h2Text {
    text-align: right;

    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 5vw;
    letter-spacing: -8px;
}

.progressWrapper {
    position: relative;
    margin-left: -5vw;
    margin-top: 5vh;
    width: 110vw;
    height: 30vh;
    background-color: #0D0D0D;
}

.progressText {
    position: absolute;

    transform: translateY(-100%);
    margin-right: 5vw;

    font-family: 'Lexend Zetta', sans-serif;
    font-size: 25vh;
    
    right: 0;

    color: #282828;
}

.progressBar {
    height: 100%;
    width: 100%;

    background-color: #151515;
}

@media (max-width: 900px) {
    .progressText {
        right: 20vw;
        font-size: 4vw;
    }

    .loadingText {
        left: 23vw;
        font-size: 4vw;
    }
    .progressBar {
        left: 22vw;
        height: 4.5vw;
    }
}