/*Universal*/
.page-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    row-gap: 5vh;

    background-image: url(/images/gridbackground.jpg);
    background-size: 10%;
    background-attachment: fixed;
}

.sectionHeading {
    text-align: center;

    order: 0;

    padding: 2vh 0 2vh 0;

    color: white;
    font-size: 40px;
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}


.anchor {
    position: relative;
    top: -7vh;
    flex: 0;
}

.padding {
    order: 100;
    padding: 0 0 5vh 0;
}

.standardTopBorder { 
    height: 2vh;
    width: 100%;

    border: solid;
    border-color: white;
    border-width: 1px 1px 0 1px;
}

.standardBotBorder {
    height: 2vh;
    width: 100%;

    border: solid;
    border-color: white;
    border-width: 0 1px 1px 1px;
}



/*NavBar*/
.navbar {
    width: 100%;
    max-height: 6vh;

    color: white;
    font-size: 15px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.customNav {
    position: relative;
    transform: translateY(-50%);
    top: 2vh;

    width: 100vw !important;
    justify-content: center;
    align-items: center;
}

.navBarBackground {
    display: flex;
    flex-direction: column;
    
}

/*About*/
.aboutBackground {
    order: 1;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 0 2vw 0 2vw;
    width: 80vw;

    border: solid;
    border-color: white;
    border-width: 1px;

    background-color: rgba(100, 100, 100, 0.85);
}

.aboutHeading {
    position: relative;
    opacity: 0;
    scale: 0.8;

    overflow: hidden;
    max-width: fit-content;
    white-space: nowrap;
    margin: 0 auto;
    
    animation: 
    headingLoad 1s 0.75s;
    animation-fill-mode: forwards;
}

@keyframes headingLoad {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.aboutWrapper {
    display: flex;
    flex-direction: row;
    flex: 1;

    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

@media (max-width: 900px) {
    .aboutWrapper {
        flex-direction: column;
    }
}

.aboutPicture {
    order: 0;

    height: 300px;
    width: 300px;

    opacity: 0;

    border: solid;
    border-color: white;
    border-width: 1px;

    margin: 0 1vh 0 1vh;

    animation: aboutPictureAnimation 0.3s 3.25s;
    animation-fill-mode: forwards;
}

@keyframes aboutPictureAnimation {
    0% {
        opacity: 0;
        scale: 0.9;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.aboutParagraph {
    order: 1;
    flex: 1;

    /*
    background: linear-gradient(to top,
        rgba(255,255,255, 0) 100%, 
        rgba(255,255,255, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    */

    margin: 0.5vh 1vw 0 1vw;

    color: white;
    scale: 0.6;
    opacity: 0;

    animation: paragraph 0.5s 2.5s;
    animation-fill-mode: forwards;
}

@keyframes paragraph {
    from {
        scale: 0.6;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.aboutTopBorder {
    height: 2vh;
    width: 0%;

    border: solid;
    border-color: white;
    border-width: 0;

    animation: topBorderAnimation 1.25s 1.5s;
    animation-fill-mode: forwards;
}

@keyframes topBorderAnimation {
    0% {
        width: 0%;
        border-width: 1px 0 0 0;
    }

    50% {
        width: 100%;
        border-width: 1px 0 0 0;
    }

    100% {
        width: 100%;
        border-width: 1px 1px 0 1px;
    }
}

.aboutBotBorder {
    height: 2vh;
    width: 0%;

    border: solid;
    border-color: white;
    border-width: 0;

    animation: botBorderAnimation 1.25s 1.5s;
    animation-fill-mode: forwards;
}

@keyframes botBorderAnimation {
    0% {
        width: 0%;
        border-width: 0 0 1px 0;
    }

    50% {
        width: 100%;
        border-width: 0 0 1px 0;
    }

    100% {
        width: 100%;
        border-width: 0 1px 1px 1px;
    }
}


/*Projects*/
.projectsBackground {
    order: 2;

    display: flex;
    flex-direction: column;

    width: 80vw;

    align-items: center;

    padding: 0 2vw 0 2vw;

    border: solid;
    border-color: white;
    border-width: 1px;

    background-color: rgba(100, 100, 100, 0.85);
}

.recentProjects {
    order: 2;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1vh;
}

@media (max-width: 1200px) {
    .recentProjects {
        flex-direction: column;
    }
}

.moreProjects {
    text-align: center;

    order: 3;
    border-radius: 0;
}

.projectsTopBorder {
    order: 1;
    border-width: 1px 1px 0 1px;
    width: 100%;
}

.projectsBotBorder {
    order: 4;
}



/*Experience*/
.experienceBackground {
    order: 3;

    display: flex;
    flex-direction: column;

    width: 80vw;

    border: solid;
    border-color: white;
    border-width: 1px;

    padding: 1vh 1vw 1vh 1vw;

    background-color: rgba(100, 100, 100, 0.85);
}

.experienceHeader {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 70%;

    padding: 1vh 1vw 1vh 1vw;
}

.experienceCompany {
    align-self: center;
    font-size: 70px;
    color: white;

    cursor: pointer;
}

.experienceHeader div {
    transform: translateY(12.5%);
    padding-left: 4vw;
}

.experiencePos {
    font-size: 25px;
    color: white;
}

.experienceDate {
    font-size: 25px;
    color: white;
}

.experienceBackground ul {
    list-style-type: square;
    align-self: center;
    max-width: 50%;
}

.experienceBackground li {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 18px;
    color: white;
}

.experienceBackground .standardBotBorder {
    align-self: center;
    width: 60%;
    border-width: 0 1px 1px 1px;
}

.experienceBackground .standardTopBorder {
    align-self: center;
    width: 60%;
    border-width: 1px 1px 0 1px;
}




/*Contact*/
.contactBackground {
    order: 4;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;

    border: solid;
    border-color: #ffffff;
    border-width: 1px;

    background-color: rgba(100, 100, 100, 0.85);
}

.contactImagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}


.links {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(65deg) brightness(100%) contrast(103%);
}

.contactImage {
    cursor: pointer;
}