/*Universal*/
.page-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    row-gap: 5vh;

    background-color: #000000;
}

.noScroll {
    overflow: hidden; 
}

.pageBar{
    position: fixed;
    z-index: 1;

    top: -5vh;
    width: 10px;
    height: 110vh;
    background-color: #F6F7EB;
}

.sectionHeading {
    text-align: center;

    order: 0;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -5px;

    color:#F6F7EB;
    font-size: 60px;
}

@media (max-width: 500px){
    .pageBar{
        height: 150vh;
        width: 5px;
    }
    
    .sectionHeading{
        font-size: 35px;
    }
}

html {
    scroll-behavior: smooth;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.anchor {
    position: relative;
    top: -7vh;
    flex: 0;
}

.padding {
    order: 100;
    padding: 0 0 5vh 0;
}

.background {
    z-index: 0;
    position: fixed;
    background-color: #0D0D0D;

    margin-left: 10vw;
    margin-top: -20vh;
    width: 60vw;
    height: 120vh;

    align-self: center;

    transform: rotate(-5deg);
}

.scrollingArrows{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-left: 6.5vw;
}

.arrow {
    z-index: 0;
    width: 0; 
    height: 0; 
    padding-bottom: 10vw;
    margin-left: 3vw;

    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    
    border-top: 10vw solid #282828;

    animation: TopToBottom 10s infinite linear;
}

.highlight {
    color: #E94F37;
    font-weight: bold;
}

@keyframes TopToBottom {
    from {
        transform: translateY(-20vw);
    }
    to {
        transform: translateY(20vw);
    }
}


/*NavBar*/
.navbar {
    width: 100%;
    max-height: 6vh;

    color: #F6F7EB;
    font-size: 15px;
    font-family: 'Lexend Zetta', sans-serif;
    background-color: #0D0D0D !important;
}

.navbar-brand {
    font-size: 45px;
    font-family: 'Saira', sans-serif;
    cursor: pointer;
}

.customNav {
    position: relative;
    transform: translateY(-50%);
    top: 2vh;

    width: 100vw !important;
    justify-content: center;
    align-items: center;
}

.navBarBackground {
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 1000px) {
    .navbar {
        width: 100%;
        max-height: 6vh;
    
        color: #F6F7EB;
        font-size: 2vw;
        font-weight: 300;
        background-color: rgba(0, 0, 0, 0.35) !important;
    }

    .navbar-brand {
        font-size: 30px;
        font-weight: 500;
        cursor: pointer;
    }
}

/*About*/
.aboutBackground {
    order: 1;
    z-index: 2;

    display: flex;
    flex-direction: column;

    width: 80vw;
    min-height: 20vh;
    margin-top: 10vh;
}

.aboutHeading {
    position: relative;
    align-self: center;

    max-width: fit-content;
    white-space: nowrap;

    letter-spacing: -0.22em;
}

.aboutBackground .headingBar {
    height: 10px;
    width: 100%;
    background-color: #ffffff;
}

.aboutWrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-self: center;

    margin-top: -4vh;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    width: 70%;
}

.aboutPicture {
    order: 0;

    height: 400px;
    width: 400px;

    box-shadow: 15px 15px #E94F37;
}

.aboutParagraph {
    order: 0;
    flex: 1;

    text-align: center;

    padding: 3vh 2vw 1vh 2vw;

    color: #F6F7EB;
    background-color: #1B1D1F;
}

@media (max-width: 1400px) {
    .aboutWrapper {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .aboutWrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 3vh;
        margin-left: 5vw;
    }

    .aboutPicture {
        margin-bottom: 1vh;
    }

    .aboutBackground{
        min-height: 50vh;
        margin-top: 5vh;
    }
}

@media (max-width: 500px){
    .aboutPicture {
        height: 250px;
        width: 250px;
    }
    .aboutParagraph{
        font-size: 12px;
    }

    .aboutBackground{
        margin-top: 0;
    }

    .aboutBackground .headingBar{
        height: 5px;
    }
}


/*Projects*/
.projectsBackground {
    z-index: 1;
    order: 2;

    display: flex;
    flex-direction: column;

    width: 80vw;
    min-height: 70vh;
    margin-top: 10vh;

    align-items: center;
}

.projectsBackground .sectionHeading {
    align-self: center;
    z-index: 1;

    color: #F6F7EB;
    padding-bottom: 5vh;
}

.projectSection {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 80%;
    padding-bottom: 5vh;
}

.projectHeaderLeft {
    order: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 20%;
    align-items: flex-start;

    padding: 0 0 0 4vw;

    white-space: nowrap;
}

.projectHeaderRight {
    order: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 20%;
    align-items: flex-end;

    padding: 0 0 0 4vw;

    white-space: nowrap;
}

.projectLink {
    align-self: flex-start;
    font-size: 35px;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -5px;

    color: #F6F7EB;

    cursor: pointer;
}

.projectSection h2 {
    font-size: 40px;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -5px;
    color: #F6F7EB;
}

.projectHeaderLeft h2 {
    margin-left: -0.5vw;
    text-align: start;
}

.projectHeaderRight h2 {
    text-align: end;
}

.projectSection h3 {
    font-size: 25px;
    color: #F6F7EB;
}

.projectHeaderLeft h3 {
    text-align: start;
}

.projectHeaderRight h3 {
    text-align: end;
}

.projectBodyLeft {
    order: 1;
    margin-top: 7vh;

    padding: 4vh 4vw 4vh 10vw;

    align-self: flex-end;

    background-color: #1B1D1F;
}

.projectBodyRight {
    order: 0;
    margin-top: 7vh;
    margin-left: 4vw;
    margin-right: -2vw;

    padding: 4vh 10vw 4vh 3vw;

    align-self: flex-end;

    background-color: #1B1D1F;
}

.projectSection p {
    color: #F6F7EB;
    margin: 0 0 0 -2vw;
}

.projectSection ul {
    list-style-type: square;
    align-self: center;
}

.projectSection li {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 18px; 
    color: #F6F7EB;
}

@media (max-width: 1400px){
    .projectSection {
        width: 100%;
    }
}

@media (max-width: 1000px){
    .projectSection {
        flex-direction: column;
        align-self: center;
        margin-left: 5vw;
    }
    .projectBody ul {
        margin-left: 0;
        margin-top: 0;
        padding: 4vh 4vh 6vh 6vh;
    }

    .projectBackground{
        min-height: 50vh;
        margin-top: 5vh;
    }
}

@media (max-width: 500px){
    
}

@media (max-width: 1000px){
    .projectsBackground{
        min-height: 50vh;
        margin-top: 5vh;
    }
}

@media (max-width: 500px){
    .projectsBackground .headingBar{
        height: 5px;
    }
}

/*Experience*/
.experienceBackground {
    order: 3;
    z-index: 2;

    display: flex;
    flex-direction: column;

    width: 80vw;
    min-height: 70vh;
    margin-top: 10vh;
}

.experienceHeading {
    position: relative;
    align-self: center;

    max-width: fit-content;
    white-space: nowrap;
    padding-bottom: 5vh;
}

@media (max-width: 1000px){
    .experienceBackground{
        min-height: 50vh;
        margin-top: 5vh;
    }
}

/*Contact*/
.contactBackground {
    order: 4;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;
}

.contactBackground .sectionHeading {
    align-self: center;
    color: #F6F7EB;
    letter-spacing: -0.22em;
}

.contactBackground .headingBar{
    align-self: flex-start;
    height: 10px;
    width: 50%;
    background-color: #F6F7EB;
}

.contactImagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;

    align-items: center;
    align-self: center;
}

@media (max-width: 500px){
    .contactImagesContainer{
        margin-left: 10vw;
    }

    .contactBackground .headingBar{
        height: 5px;
    }
}

.links {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(65deg) brightness(100%) contrast(103%);
}

.contactImage {
    height: 11vw;
    width: 11vw;
    cursor: pointer;
}

.email {
    margin-right: 1vw;
}

@media (max-width: 1000px) {

    .contactImage {
        width: 11vw;
    }

    .email {
        width: 13vw;
    }
}