/*Universal*/
.page-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    row-gap: 5vh;

    background-color: #000000;
}

.noScroll {
    overflow: hidden; 
}

.pageBar{
    position: fixed;
    z-index: 1;

    top: -5vh;
    width: 10px;
    height: 110vh;
    background-color: #ffffff;
}

.sectionHeading {
    text-align: center;

    order: 0;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -5px;

    color:#E94F37;
    font-size: 60px;
}

html {
    scroll-behavior: smooth;
}

p{
    font-size: 18px;
}

.anchor {
    position: relative;
    top: -7vh;
    flex: 0;
}

.padding {
    order: 100;
    padding: 0 0 5vh 0;
}

.background {
    z-index: 0;
    position: fixed;
    background-color: #0D0D0D;

    margin-left: 10vw;
    margin-top: -20vh;
    width: 60vw;
    height: 120vh;

    align-self: center;

    transform: rotate(-5deg);
}

.scrollingArrows{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-left: 6.5vw;
}

.arrow {
    z-index: 0;
    width: 0; 
    height: 0; 

    margin: 5vh;

    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    
    border-top: 10vw solid #282828;

    animation: TopToBottom 10s infinite linear;
}

@keyframes TopToBottom {
    from {
        transform: translateY(-70%);
    }
    to {
        transform: translateY(83%);
    }
}


/*NavBar*/
.navbar {
    width: 100%;
    max-height: 6vh;

    color: white;
    font-size: 15px;
    font-family: 'Lexend Zetta', sans-serif;
    background-color: #0D0D0D !important;
}

.navbar-brand {
    font-size: 45px;
    font-family: 'Saira', sans-serif;
    cursor: pointer;
}

.customNav {
    position: relative;
    transform: translateY(-50%);
    top: 2vh;

    width: 100vw !important;
    justify-content: center;
    align-items: center;
}

.navBarBackground {
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 1000px) {
    .navbar {
        width: 100%;
        max-height: 6vh;
    
        color: white;
        font-size: 2vw;
        font-weight: 300;
        background-color: rgba(0, 0, 0, 0.35) !important;
    }

    .navbar-brand {
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
}


/*About*/
.aboutBackground {
    order: 1;
    z-index: 2;

    display: flex;
    flex-direction: column;

    width: 80vw;
    min-height: 70vh;
    margin-top: 10vh;
}

.aboutHeading {
    position: relative;
    align-self: flex-end;

    max-width: fit-content;
    white-space: nowrap;
}

.aboutBackground .headingBar {
    height: 10px;
    width: 100%;
    background-color: #ffffff;
}

.aboutWrapper {
    display: flex;
    flex-direction: row;
    flex: 1;

    margin-top: -2.5vh;
    margin-left: 1vw;
    padding: 0 0.5vw 0.5vw 0.5vw;
}

.aboutPicture {
    order: 0;

    height: 400px;
    width: 400px;

    box-shadow: 15px 15px #E94F37;
}

.aboutParagraph {
    order: 0;
    flex: 1;

    padding: 2vh 2vw 3vh 2vw;
    margin-top: -2vh;
    margin-right: -1vw;

    color: white;
    background-color: #1B1D1F;
}

@media (max-width: 900px) {
    .aboutWrapper {
        flex-direction: column;
        align-items: center;
    }

    .aboutPicture {
        margin-bottom: 1vh;
    }
}

@media (max-width: 420px){
    .aboutPicture {
        height: 250px;
        width: 250px;
    }
}


/*Projects*/
.projectsBackground {
    order: 2;

    display: flex;
    flex-direction: column;

    width: 80vw;
    min-height: 70vh;
    margin-top: 10vh;

    align-items: center;
}

.projectsBackground .sectionHeading {
    align-self: flex-start;
    padding-left: 5vw;
    z-index: 1;

    width: 80vw;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projectsBackground .headingBar{
    align-self: flex-start;
    z-index: 2;
    height: 10px;
    width: 50%;
    background-color: #ffffff;
}

.recentProjects {
    order: 2;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1vh;
}

.projectsBackground .customCarousel{
    align-self: flex-start;
    padding-left: 5vw;
    z-index: 0;

    display: flex;
    flex-direction: row;
}

.carouselImage{
    width: 50vw;
    height: 28vw;
}

.customCarousel .description {
    position: absolute;
    background-color: #1B1D1F;
    color: #ffffff;

    margin-right: 10vw;
    right: 0;
    padding: 1vw;

    width: 24vw;


    height: fit-content;
    display: flex;
    flex-direction: column;
}

.descriptionHeader {
    font-size: 30px;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -5px;
    text-transform: uppercase;
}

.descriptionText {
    font-size: 15px;
    padding: 0 1vw 0 1vw;
}

.galleryButton {
    align-self: center;
    width: 90%;

    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -3px;
    background-color: #E94F37;

    border: none;
    border-radius: 0;
}

.galleryButton:hover{
    background-color: #ca523f;
}

.scrollingBackground{
    background-color: #E94F37;
    width: 100vw;
    z-index: 2;
    margin-top: 1vh;
    cursor: pointer;
}

.leftToRightText{
    font-size: 35px;
    letter-spacing: -5px;
    font-family: 'Lexend Zetta', sans-serif;
    color: #ffffff;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.scrollingItem {
    white-space: nowrap;
    padding: 0.25vw;
    animation: LeftToRight 30s infinite linear;
}

.scrollingItem img {
    padding-bottom: 0.5vw;
}

@keyframes LeftToRight {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

@media (max-width: 1200px) {
    .recentProjects {
        flex-direction: column;
        align-items: center;
    }
}



/*Experience*/
.experienceBackground {
    order: 3;
    z-index: 2;

    display: flex;
    flex-direction: column;

    width: 80vw;
    min-height: 70vh;
    margin-top: 10vh;
}

.experienceBackground .headingBar{
    height: 10px;
    width: 100%;
    background-color: #ffffff;
}

.experienceHeading {
    position: relative;
    align-self: flex-end;


    max-width: fit-content;
    white-space: nowrap;
}

.experienceSection {
    display: flex;
    flex-direction: row;
}

.experienceHeader {
    display: flex;
    flex-direction: column;
    z-index: 1;

    padding: 0 0 0 4vw;

    white-space: nowrap;
}

.experienceCompany {
    align-self: center;
    font-size: 50px;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -5px;

    color: white;

    cursor: pointer;
}

.experiencePos {
    font-size: 25px;
    color: white;
}

.experienceDate {
    font-size: 25px;
    color: white;
}

.experienceBackground ul {
    list-style-type: square;
    align-self: center;

    margin-top: 3vh;
    margin-left: -10vw;

    padding: 4vh 4vw 6vh 15vw;

    background-color: #1B1D1F;
}

.experienceBackground li {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 18px; 
    color: white;
}

@media (max-width: 1200px) {
    .experienceHeader {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        margin-bottom: 1.5vh;
    }

    .experienceCompany {
        text-align: center;
    }

    .experiencePos {
        text-align: center;
    }

    .experienceDate {
        text-align: center;
    }

    .experienceBackground ul {
        max-width: 85%;
    }

    .experienceBackground .standardBotBorder {
        width: 90%;
    }

    .experienceBackground .standardTopBorder {
        width: 90%;
    }
}

/*Contact*/
.contactBackground {
    order: 4;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;
}

.contactBackground .sectionHeading {
    align-self: flex-start;
    padding-left: 5vw;
    color: white;
}

.contactBackground .headingBar{
    align-self: flex-start;
    height: 10px;
    width: 50%;
    background-color: #ffffff;
}

.contactImagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;

    align-items: center;
    align-self: center;
}


.links {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(65deg) brightness(100%) contrast(103%);
}

.contactImage {
    height: 11vw;
    width: 11vw;
    cursor: pointer;
}

.email {
    margin-right: 1vw;
}

@media (max-width: 1000px) {

    .contactImage {
        width: 11vw;
    }

    .email {
        width: 13vw;
    }
}