.overviewBackground {
    position: fixed;
    z-index: 10;

    overflow-y: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;

    margin-top: 6vh;
    inset: 0;

    display: flex;
    flex-direction: row;

    background-color: #1B1D1F;
    
}

.overviewBackground::-webkit-scrollbar {
    display: none;
}

.project {
    display: flex;
    flex-direction: column;
}


.exit {
    position: fixed;
    right: 1vw;
    margin-top: 2vh;

    font-weight: 1000;
    font-size: larger;

    border-radius: 0;
    border-width: 0;
}

.Bar {
    margin: 2vh 0 0 2vw;
    padding: 5px;
    width: 30vw;
    background-color: #E94F37;
}

.projectTitle {
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -5px;
    margin-left: 2vw;
}

.overviewBar {
    align-self: center;

    background-color: white;
    height: 1px;
    width: 80%;
    margin: 1vh 0 1vh 0;
}

.projectBody {
    display: grid;
    grid-auto-flow: column;
}

.pictures {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
}

.images {
    
    width: 40vw;
    height: 23vw;
    margin: 1vh 1vw 1vh 1vw;
    
    border: solid;
    border-width: 1px;
    border-color: white;

}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.content {
    display: flex;
    flex-direction: column;
}

.projectLink {
    max-width: fit-content;
    margin: 0.5vh 0 0.5vh 2vw;
    border-radius: 0;

    background-color:#E94F37;
}

.projectLink:hover{
    background-color: #ca523f;
}

.content h4 {
    padding: 0.5vh 1vw 0 2vw;
    color: white;
}

.content p {
    white-space: pre-line;
    font-size: large;
    padding: 1vh 4vw 1vh 2vw;
    color: white;
}

.scrollingBar{
    margin-right: 5vw;
    background-color: #E94F37;
    min-width: 5vw;
}

.scrollElements{
    display: flex;
    flex-direction: column;

    font-size: 35px;
    letter-spacing: -5px;
    font-family: 'Lexend Zetta', sans-serif;
    color: #ffffff;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    word-wrap: break-word;
}

.scrollText{
    writing-mode: vertical-rl;
    animation: TopToBottomText 30s infinite linear;
}

@keyframes TopToBottomText {
    from {
        transform: translateY(-0%);
    }
    to {
        transform: translateY(0%);
    }
}

@media (max-width: 1000px) {

    .projectSide h4 {
        font-size: 3vw;
    }

    .projectSelected h4 {
        font-size: 3vw;
    }

    .projectSelected {
        height: 6vh;
    }

    .projectSide {
        height: 6vh;
    }

    .images {
        max-width: 250px;
    }
}

@media (max-width: 420px) {
    .images {
        max-width: 0px;
        border-width: 0;
    }

    .projectTitle {
        font-size: 25px;
    }

    .content h4 {
        font-size: 17px;
    }

    .content p {
        font-size: 14px;
        padding-right: 1.5vw;
        padding-bottom: 0vh;
    }
}