.projectCardBackground {
    width: 310px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.cardWrapper {
    order: 1;

    scale: 1;

    transition: scale 0.15s;
}

.projectCardBackground:hover .cardWrapper {
    scale: 1.025;

    transition: scale 0.2s;
}

.projectCard {
    border-radius: 0;
    border: solid;
    border-width: 1px;
    border-color: white;
    cursor: pointer;
}

.titleText {
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.bodyText {
    color: black;
    font-weight: 200;
}

.topBorder {
    order: 0;

    height: 0.75vw;
    width: 0%;

    margin-bottom: 0.75vh;

    opacity: 0;

    border: solid;
    border-color: white;
    border-width: 1px 0 0 0;

    transition: width 0.1s 0.1s, border-width 0.1s;
}

.projectCardBackground:hover .topBorder {
    width: 110%;
    top: 5vh;

    opacity: 1;

    border-width: 1px 1px 0 1px;

    transition: width 0.3s, border-width 1s 0.3s;
}

.botBorder {
    order: 3;

    height: 0.75vw;
    width: 0%;

    margin-top: 0.75vh;

    opacity: 0;

    border: solid;
    border-color: white;
    border-width: 0 0 1px 0;

    transition: width 0.1s border-width 0.1s;    
}

.projectCardBackground:hover .botBorder {
    width: 110%;

    opacity: 1;

    border-width: 0 1px 1px 1px;

    transition: width 0.3s, border-width 1s 0.3s;
}

@media (max-width: 420px) {
    .projectCardBackground {
        width: 280px;
    }
}